footer {
  height: 100px;
  background-color: rgba(230,245,245,0.5);
}
footer #footer_logo {
  float: left;
  margin: 20px 0 0 50px;
}
footer #address {
  float: left;
  margin: 20px 0 0 50px;
}
footer #footer_sns {
  float: right;
  margin: 20px 10px 0 0;
}
footer #footer_sns li {
  display: inline;
}

#footer_content{
    font-size: 12px;
    color: #333;
    font-family: "Yoon 윤매거진 700";
    font-weight: 500;
    text-align: left;
    padding-top: 20px;
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}
